SECRET_KEY=super-secret-key
DATABASE_URL=postgresql+psycopg2://hexonium:hexonium@localhost:5432/hexonium
IBAN_ENCRYPTION_KEY=jF8m8wJxY6R2gJ8sFQpo4YHc_8j9nY3kQj3v0v8P7Q4=
NPM_REGISTRY=https://registry.npmjs.org/
